$blue: #0000FF;
$medium-blue: #0000CD;
$aero: #7CB9E8;
$alice-blue: #F0F8FF;
$air-force-blue: #00308F;
$air-superiority-blue: #72A0C1;
$aqua: #00FFFF;
$aquamarine: #7FFFD4;
$argentiman-blue: #6CB4EE;
$astros-navy: #002D62;
$azure: #007FFF;
$baby-blue: #89CFF0;
$bayern-blue: #0066b2;
$blue-de-france: #318CE7;
$blue-yonder: #5072A7;
$blue-gray: #6699CC;
$boeing-blue: #0039a6;
$braves-navy: #13274F;
$brewers-blue: #0a2351;
$broncos-navy: #002244;
$byzantine-blue: #3457D5;
$cadet-blue: #5F9EA0;
$carolina-blue: #4B9CD3;
$capri: #00BFFF;
$cambridge-blue: #A3C1AD;
$celeste: #B2FFFF;
$cerulean: #2a52be;
$chelsea-blue: #034694;
$chlorine-blue: #0CAFFF;
$cobalt-blue: #0047AB;
$college-navy: #002244;
$columbia-blue: #B9D9EB;
$cornflower-blue: #6495ED;
$crayola-blue: #1F75FE;
$cubs-blue: #0E3386;
$cyan: #00FFFF;
$dallas-cowboys-blue: #041E42;
$dark-blue: #00008B;
$dark-turquoise: #00CED1;
$deep-sky-blue: #00BFFF;
$delft-blue: #1F305E;
$dell-blue: #0076CE;
$denim: #1560bd;
$dodger-blue: #1E90FF;
$dodgers-blue: #005A9C;
$dolphins-aqua: #008E97;
$duck-blue: #007791;
$duke-blue: #012169;
$egyptian-blue: #1034A6;
$electric-blue: #7DF9FF;
$electric-indigo: #6F00FF;
$everton-blue: #003399;
$facebook-blue: #1877F2;
$fluorescent-blue: #15f4ee;
$ford-blue: #2c3968;
$general-motors-blue: #073980;
$glaucous: #6082B6;
$grizzlies-blue: #5D76A9;
$ibm-blue: #0530ad;
$ice-blue: #99FFFF;
$independence: #4C516D;
$indigo: #3F00FF;
$indigo-dye: #00416A;
$intel-blue: #0071c5;
$international-klein-blue: #002fa7;
$iris: #5A4FCF;
$kc-royals-blue: #004687;
$liberty: #545AA7;
$light-blue: #ADD8E6;
$light-cyan: #E0FFFF;
$light-sky-blue: #87CEFA;
$light-steel-blue: #B0C4DE;
$lowes-blue: #004792;
$magic-blue: #0077c0;
$majorelle-blue: #6050DC;
$marian-blue: #E1EBEE;
$mavericks-blue: #00538C;
$maya-blue: #73C2FB;
$medium-slate-blue: #7B68EE;
$medium-turquoise: #48D1CC;
$mets-blue: #002D72;
$midnight-blue: #191970;
$millenium-blue: #002244;
$morning-blue: #8DA399;
$munsell-blue: #0093AF;
$navy: #000080;
$neon-blue: #4D4DFF;
$non-photo-blue: #A4DDED;
$oxford-blue: #002147;
$pacific-blue: #1ca9c9;
$pale-turquoise: #AFEEEE;
$pantone-blue: #0018A8;
$patriots-nautical-blue: #002244;
$peacock-blue: #005f69;
$penn-blue: #011F5B;
$periwinkle: #CCCCFF;
$persian-blue: #1C39BB;
$phthalo: #000f89;
$picotee-blue: #2E2787;
$polyneisan-blue: #224C98;
$porto-blue: #00428c;
$powder-blue: #B0E0E6;
$prussian-blue: #003153;
$psg-blue: #004170;
$resolution-blue: #002387;
$robin-egg-blue: #00CCCC;
$royal-air-force-blue: #5D8AA8;
$royal-blue: #4169E1;
$ruddy-blue: #76ABDF;
$sapphire: #082567;
$savoy-blue: #4B61D1;
$sky-blue: #87CEEB;
$slate-blue: #6A5ACD;
$space-cadet: #1E2952;
$spanish-blue: #0070BB;
$steel-blue: #4682B4;
$teal: #008080;
$teal-blue: #367588;
$tiffany-blue: #81D8D0;
$tottenham-navy: #132257;
$true-blue: #2D68C4;
$tufts-blue: #3E8EDE;
$turquoise: #40E0D0;
$twitter-blue: #1da1f2;
$ucla-blue: #2774AE;
$ultramarine: #120A8F;
$uranian-blue: #AFDBF5;
$violet-blue: #324AB2;
$visa-blue: #1a1f71;
$vivid-sky-blue: #00CCFF;
$warriors-blue: #1D428A;
$yale-blue: #00356B;
$yankees-blue: #0C2340;
$yinmn-blue: #2E5090;
